/***** General style *****/
body {
  margin: 20px auto auto 20px;
  font-family: Arial, sans-serif;
}

.summary{
  font-size: 15px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 40px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height:800px;
}

#map {
  position: absolute;
  top: 275px;
  bottom: 0;
  left: 170px;
  background-color: #eee;
  height:550px;
  width:900px;
}

/* Slider */

.slider {
  position: absolute;
  top:210px;
  left:170px;
  width:900px;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


.sliderticks {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 880px;
  left: 150px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: -10px 0 10px 0;
  font-size: 12px;
}

#selected {
  animation: flash-animation 0.8s ease-out infinite;
  animation-direction: alternate;
}

/***** Panel *****/
#panel {
  position: absolute;
  top: 270px;
  right: 70px;
  display: none;
  width: 625px;
  padding: 15px 25px;
  text-align: left;
  font-size: 0.7em;
  background-color: rgba(255, 255, 255, 0.9);
  
}

#panel button {
  width: 25px;
  height: 25px;
  padding: 0;
  float: right;
  top:100px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

#panel button:hover {
  background-color: #ccc;
}

#panel button img {
  height: 10px;
}

#panel h1 {
  margin-top: 0;
}

#panel h2 {
  color: #666;
  font-size: 1em;
  text-transform: uppercase;
  width:400px;
}

#panel span {
  font-size: 1.2em;
  font-weight: bold;
  width:100px;
  color: black;
}

#panel hr {
  border: none;
  border-top: 1px solid #ccc;
}

.bubble:hover{
  fill: black;
  fill-opacity: 0.8;
}

.chartTitle{
  font-weight: bold;
}

#opacityLegend{
  position: absolute;
  left: 55px;
  top: 250px;
  width:110px;
}

#opacityLegend text{
  position: absolute;
  top:250px;
  font-size: 12px;
  word-wrap: break-word;
}

